<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>본인인증</title>
    <link rel="stylesheet" href="../../../static/css/member/pass_auth.css">
</head>
<body>

    <main>
        <div id="passAuthModal" class="tos-container">
            <div class="container">
                <img src="../../../static/images/logo.png" alt="">
                <h2>PASS 본인인증</h2>
                <p>휴대폰 본인인증을 진행해주세요.</p>
                <button class="button" onclick="closeAuthModal()">확인</button>
            </div>
        </div>
    </main>

</body>
</html>